openapi: 3.1.0
info:
  title: "[MODULE_NAME] API"
  version: "1.0.0"
  description: |
    [وصف الموديول وأهدافه]

    **Authentication**: Clerk session token (cookie or Authorization: Bearer)
    **Tenant**: Inferred from session
    **Rate Limit**: 100 req/min (default), 30 req/min for write ops
    **Response Format**: JSON with `{ data, meta?, error? }` envelope

servers:
  - url: https://api.namasoft.sa/api
    description: Production
  - url: https://staging.namasoft.sa/api
    description: Staging
  - url: http://localhost:3000/api
    description: Local

security:
  - clerkAuth: []

tags:
  - name: "[Module]"
    description: "[Module description]"

paths:
  /[module]:
    get:
      tags: ["[Module]"]
      summary: List all [entities]
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1, minimum: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
        - name: status
          in: query
          schema:
            type: string
            enum: [DRAFT, SUBMITTED, APPROVED, POSTED, REVERSED]
        - name: search
          in: query
          schema: { type: string }
        - name: fromDate
          in: query
          schema: { type: string, format: date }
        - name: toDate
          in: query
          schema: { type: string, format: date }
        - name: sortBy
          in: query
          schema: { type: string, default: "createdAt" }
        - name: sortOrder
          in: query
          schema: { type: string, enum: [asc, desc], default: desc }
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/[Entity]'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

    post:
      tags: ["[Module]"]
      summary: Create new [entity]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/[Entity]CreateInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/[Entity]'
        '400': { $ref: '#/components/responses/BadRequest' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /[module]/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }

    get:
      tags: ["[Module]"]
      summary: Get [entity] by ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/[Entity]'
        '404': { $ref: '#/components/responses/NotFound' }

    patch:
      tags: ["[Module]"]
      summary: Update [entity] (DRAFT only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/[Entity]UpdateInput'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/[Entity]'
        '409':
          description: Cannot edit non-DRAFT [entity]

    delete:
      tags: ["[Module]"]
      summary: Soft delete (DRAFT only)
      responses:
        '204': { description: Deleted }
        '409': { description: Cannot delete }

  /[module]/{id}/submit:
    post:
      tags: ["[Module]"]
      summary: Submit for approval
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200': { description: Submitted }

  /[module]/{id}/approve:
    post:
      tags: ["[Module]"]
      summary: Approve (approver only)
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                comment: { type: string }
      responses:
        '200': { description: Approved }

  /[module]/{id}/post:
    post:
      tags: ["[Module]"]
      summary: Post to GL (creates Journal Entry)
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Posted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      [entity]: { $ref: '#/components/schemas/[Entity]' }
                      journalEntry: { $ref: '#/components/schemas/JournalEntry' }

  /[module]/{id}/reverse:
    post:
      tags: ["[Module]"]
      summary: Create reversal entry
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 10 }
      responses:
        '200': { description: Reversed }

  /[module]/export:
    get:
      tags: ["[Module]"]
      summary: Export to Excel/PDF/CSV
      parameters:
        - name: format
          in: query
          schema: { type: string, enum: [xlsx, pdf, csv], default: xlsx }
      responses:
        '200':
          description: File download
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet: {}
            application/pdf: {}
            text/csv: {}

components:
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema: { type: string }

  schemas:
    [Entity]:
      type: object
      required: [id, tenantId, code, name, status]
      properties:
        id: { type: string }
        tenantId: { type: string }
        code: { type: string }
        name: { type: string }
        amount: { type: number, format: decimal }
        currency: { type: string, example: SAR }
        status:
          type: string
          enum: [DRAFT, SUBMITTED, APPROVED, POSTED, REVERSED]
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        lines:
          type: array
          items:
            $ref: '#/components/schemas/[Entity]Line'

    [Entity]CreateInput:
      type: object
      required: [name, amount, lines]
      properties:
        name: { type: string, minLength: 3, maxLength: 255 }
        amount: { type: number, exclusiveMinimum: 0 }
        currency: { type: string, default: SAR }
        lines:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/[Entity]LineInput'

    [Entity]UpdateInput:
      type: object
      properties:
        name: { type: string }
        amount: { type: number }

    [Entity]Line:
      type: object
      properties:
        id: { type: string }
        lineNumber: { type: integer }
        amount: { type: number }
        description: { type: string }

    [Entity]LineInput:
      type: object
      required: [amount]
      properties:
        amount: { type: number }
        description: { type: string }

    Pagination:
      type: object
      properties:
        page: { type: integer }
        pageSize: { type: integer }
        total: { type: integer }
        totalPages: { type: integer }

    JournalEntry:
      type: object
      properties:
        id: { type: string }
        entryNumber: { type: string }
        date: { type: string, format: date }
        totalDebit: { type: number }
        totalCredit: { type: number }

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: object }

  responses:
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ValidationError:
      description: Validation failed (Zod)
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error'
              - type: object
                properties:
                  fieldErrors:
                    type: object

  securitySchemes:
    clerkAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
