{
  "openapi": "3.1.0",
  "info": {
    "title": "NamaSoft ERP API",
    "description": "نظام إدارة موارد المؤسسة — واجهة برمجية متكاملة",
    "version": "9.3.0",
    "contact": {
      "name": "NamaSoft Support",
      "email": "support@namasoft.sa"
    }
  },
  "servers": [
    {
      "url": "https://erp.namasoft.sa/api",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Development"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "رسالة الخطأ"
          },
          "details": {
            "type": "object",
            "description": "تفاصيل خطأ التحقق من البيانات"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {}
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      }
    }
  },
  "paths": {
    "/accounting/accounts": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/accounts",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: parentId, id, isActive",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/accounts",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: parentId, id, isActive",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parentId": {
                    "type": "string",
                    "description": "parentId"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "isActive": {
                    "type": "string",
                    "description": "isActive"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Accounting"
        ],
        "summary": "PUT /accounting/accounts",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: parentId, id, isActive",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parentId": {
                    "type": "string",
                    "description": "parentId"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "isActive": {
                    "type": "string",
                    "description": "isActive"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounting"
        ],
        "summary": "DELETE /accounting/accounts",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: parentId, id, isActive",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/accounts/init": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/accounts/init",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/allocations": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/allocations",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/allocations/run": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/allocations/run",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: ruleId, fiscalPeriodId, userId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ruleId": {
                    "type": "string",
                    "description": "ruleId"
                  },
                  "fiscalPeriodId": {
                    "type": "string",
                    "description": "fiscalPeriodId"
                  },
                  "userId": {
                    "type": "string",
                    "description": "userId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/allocations/simulate": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/allocations/simulate",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: ruleId, fiscalPeriodId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ruleId": {
                    "type": "string",
                    "description": "ruleId"
                  },
                  "fiscalPeriodId": {
                    "type": "string",
                    "description": "fiscalPeriodId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/balance-sheet": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/balance-sheet",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/bank-feed": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/bank-feed",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: bankAccountId, entryId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/bank-feed",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: bankAccountId, entryId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bankAccountId": {
                    "type": "string",
                    "description": "bankAccountId"
                  },
                  "entryId": {
                    "type": "string",
                    "description": "entryId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/bank-recon/auto-match": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/bank-recon/auto-match",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: statementId, userId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "statementId": {
                    "type": "string",
                    "description": "statementId"
                  },
                  "userId": {
                    "type": "string",
                    "description": "userId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/bank-statements": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/bank-statements",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/bank-statements/upload": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/bank-statements/upload",
        "description": "Rate limit: 10 req/min\nRequired roles: authenticated\nValidated fields: bankAccountId, userId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bankAccountId": {
                    "type": "string",
                    "description": "bankAccountId"
                  },
                  "userId": {
                    "type": "string",
                    "description": "userId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (10 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/banks/imports": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/banks/imports",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/banks/recon/create-je": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/banks/recon/create-je",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: lineId, accountId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lineId": {
                    "type": "string",
                    "description": "lineId"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "accountId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/banks/recon/match": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/banks/recon/match",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: lineId, targetId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lineId": {
                    "type": "string",
                    "description": "lineId"
                  },
                  "targetId": {
                    "type": "string",
                    "description": "targetId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/books": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/books",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: code, name, nameAr, type, gaapStandard, baseCurrency, isPrimary, sourceBookId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/books",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: code, name, nameAr, type, gaapStandard, baseCurrency, isPrimary, sourceBookId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "code"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "nameAr": {
                    "type": "string",
                    "description": "nameAr"
                  },
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "gaapStandard": {
                    "type": "string",
                    "description": "gaapStandard"
                  },
                  "baseCurrency": {
                    "type": "string",
                    "description": "baseCurrency"
                  },
                  "isPrimary": {
                    "type": "string",
                    "description": "isPrimary"
                  },
                  "sourceBookId": {
                    "type": "string",
                    "description": "sourceBookId"
                  },
                  "autoReplicate": {
                    "type": "string",
                    "description": "autoReplicate"
                  },
                  "description": {
                    "type": "string",
                    "description": "description"
                  },
                  "entryNumber": {
                    "type": "string",
                    "description": "entryNumber"
                  },
                  "entryDate": {
                    "type": "string",
                    "description": "entryDate"
                  },
                  "lines": {
                    "type": "string",
                    "description": "lines"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "accountId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/budget/check": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/budget/check",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: accountId, costCenterId, newAmount, date",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "type": "string",
                    "description": "accountId"
                  },
                  "costCenterId": {
                    "type": "string",
                    "description": "costCenterId"
                  },
                  "newAmount": {
                    "type": "string",
                    "description": "newAmount"
                  },
                  "date": {
                    "type": "string",
                    "description": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/budget/variance": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/budget/variance",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/cashflow/forecast": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/cashflow/forecast",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/closing": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/closing",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/coa/reset-to-socpa": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/coa/reset-to-socpa",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/coa/reset-to-socpa",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/consolidation/commit": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/consolidation/commit",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: runId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "runId": {
                    "type": "string",
                    "description": "runId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/consolidation/run": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/consolidation/run",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: groupId, fiscalPeriodId, userId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupId": {
                    "type": "string",
                    "description": "groupId"
                  },
                  "fiscalPeriodId": {
                    "type": "string",
                    "description": "fiscalPeriodId"
                  },
                  "userId": {
                    "type": "string",
                    "description": "userId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/cost-centers": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/cost-centers",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: isActive, branchId, id, isActive, branchId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/cost-centers",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: isActive, branchId, id, isActive, branchId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isActive": {
                    "type": "string",
                    "description": "isActive"
                  },
                  "branchId": {
                    "type": "string",
                    "description": "branchId"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Accounting"
        ],
        "summary": "PUT /accounting/cost-centers",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: isActive, branchId, id, isActive, branchId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isActive": {
                    "type": "string",
                    "description": "isActive"
                  },
                  "branchId": {
                    "type": "string",
                    "description": "branchId"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounting"
        ],
        "summary": "DELETE /accounting/cost-centers",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: isActive, branchId, id, isActive, branchId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/customer-statements/bulk/history": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/customer-statements/bulk/history",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/customer-statements/bulk/preview": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/customer-statements/bulk/preview",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: dateFrom, dateTo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dateFrom": {
                    "type": "string",
                    "description": "dateFrom"
                  },
                  "dateTo": {
                    "type": "string",
                    "description": "dateTo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/customer-statements/bulk/run": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/customer-statements/bulk/run",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: dateFrom, dateTo, templateId, userId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dateFrom": {
                    "type": "string",
                    "description": "dateFrom"
                  },
                  "dateTo": {
                    "type": "string",
                    "description": "dateTo"
                  },
                  "templateId": {
                    "type": "string",
                    "description": "templateId"
                  },
                  "userId": {
                    "type": "string",
                    "description": "userId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/customer-statements/generate-pdf": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/customer-statements/generate-pdf",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: customerId, templateId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "string",
                    "description": "customerId"
                  },
                  "templateId": {
                    "type": "string",
                    "description": "templateId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/customer-statements/preview": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/customer-statements/preview",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: customerId, templateId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "string",
                    "description": "customerId"
                  },
                  "templateId": {
                    "type": "string",
                    "description": "templateId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/customer-statements/send-email": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/customer-statements/send-email",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: customerId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "string",
                    "description": "customerId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/customer-statements/templates": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/customer-statements/templates",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: isDefault, userId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/customer-statements/templates",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: isDefault, userId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isDefault": {
                    "type": "string",
                    "description": "isDefault"
                  },
                  "userId": {
                    "type": "string",
                    "description": "userId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/customer-statements/templates/{id}": {
      "put": {
        "tags": [
          "Accounting"
        ],
        "summary": "PUT /accounting/customer-statements/templates/{id}",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: isDefault",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isDefault": {
                    "type": "string",
                    "description": "isDefault"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounting"
        ],
        "summary": "DELETE /accounting/customer-statements/templates/{id}",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: isDefault",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/customers/{id}/statement": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/customers/{id}/statement",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/deferred": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/deferred",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: entryId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/deferred",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: entryId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entryId": {
                    "type": "string",
                    "description": "entryId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/dunning/daily-run": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/dunning/daily-run",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: date",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "description": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/dunning/promise-to-pay": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/dunning/promise-to-pay",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: customerId, openItemIds, amount, date, userId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "string",
                    "description": "customerId"
                  },
                  "openItemIds": {
                    "type": "string",
                    "description": "openItemIds"
                  },
                  "amount": {
                    "type": "string",
                    "description": "amount"
                  },
                  "date": {
                    "type": "string",
                    "description": "date"
                  },
                  "userId": {
                    "type": "string",
                    "description": "userId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/ecl/run": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/ecl/run",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: fiscalPeriodId, asOfDate, userId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fiscalPeriodId": {
                    "type": "string",
                    "description": "fiscalPeriodId"
                  },
                  "asOfDate": {
                    "type": "string",
                    "description": "asOfDate"
                  },
                  "userId": {
                    "type": "string",
                    "description": "userId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/financial-close": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/financial-close",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/financial-close",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/fiscal-periods": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/fiscal-periods",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/fiscal-periods",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/fiscal-years": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/fiscal-years",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: yearNumber, startDate, endDate",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/fiscal-years",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: yearNumber, startDate, endDate",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "yearNumber": {
                    "type": "string",
                    "description": "yearNumber"
                  },
                  "startDate": {
                    "type": "string",
                    "description": "startDate"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "endDate"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/fixed-assets/depreciate": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/fixed-assets/depreciate",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/fx-revaluation/run": {
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/fx-revaluation/run",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: fiscalPeriodId, periodEndDate, userId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fiscalPeriodId": {
                    "type": "string",
                    "description": "fiscalPeriodId"
                  },
                  "periodEndDate": {
                    "type": "string",
                    "description": "periodEndDate"
                  },
                  "userId": {
                    "type": "string",
                    "description": "userId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (30 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/governance-violations": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/governance-violations",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/income-statement": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/income-statement",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/intercompany": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/intercompany",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/intercompany",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/journal": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET /accounting/journal",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: date, lines, userId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST /accounting/journal",
        "description": "Rate limit: 100 req/min\nRequired roles: authenticated\nValidated fields: date, lines, userId",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "description": "date"
                  },
                  "lines": {
                    "type": "string",
                    "description": "lines"
                  },
                  "userId": {
                    "type": "string",
                    "description": "userId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limited (100 req/min)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/accounting/journal/{id}": {
      "put": {
        "tags": [
          "Accounting"
        ],
        "summary": "PUT /accounting/journal/{id}",
        "description": "Rate limit: 30 req/min\nRequired roles: authenticated\nValidated fields: date, lines",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "description": "date"
                  },
                  "lines": {
                    "type": "string",
                    "description": "lines"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
[...]
